/** {
	text-align: center;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 40px;
}

.topnav .right {
  margin-right: 50px;
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.heading {
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	margin-bottom: 50px;
	font-size: 48px;
}

.name {
	color: #f44336;
}

.emoji {
	font-weight: normal;
}

.pf-img img {
	object-fit: cover;
	width: 230px;
	height: 230px;
	border-radius: 50%;
}

.clients-pics {
	margin-bottom: 400px;
}

.clients-img img {
	float: left;
	object-fit: cover;
	width: 30%;
	height: 100px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.bio {
	width: 35%;
	margin-top: 30px;
	margin: auto;
}

.dj-bio {
	width: 35%;
	margin: auto;
	text-align: center;
}

.bio-text {
	display: inline-block;
	text-align: left;
}

.service {
	font-weight: bold;
}

.latest-mixtape, .clients {
	font-weight: bold;
	font-size: 24px;
	margin-top: 50px;
}

.service-button-dj, .service-button-it {
	background-color: #f44336;
	border: none;
	color: #fff;
	padding: 14px 40px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
	font-weight: bold;
	font-size: 24px;
	margin-top: 16px;
}

.service-button-dj {
	margin-right: 16px;
}

.service-button-dj:hover, .service-button-pt:hover {
  background-color: #fff; 
  border: none;
  color: #f44336;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
  font-weight: bold;
  font-size: 24px;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
}*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
}

.topnav {
	position: relative;
	overflow: hidden;
	width: 50%;
	margin: auto;
	font-weight: bold;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f44336;
  color: #fff;
}

.topnav a.active {
  color: #f44336;
}

.topnav a.active:hover {
  background-color: #f44336;
  color: #fff;
}

.topnav-right {
	float: right;
}

.header-container {
	padding: 20px;
	text-align: center;
}

.name {
	color: #f44336;
}

.row {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.column {
	float: left;
	width: 50%;
	padding: 15px;
}

.single-column {
	float: left;
	width: 100%;
	padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column img {
	object-fit: cover;
	width: 230px;
	height: 230px;
	border-radius: 50%;
}

.call-to-action {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 18px;
}

.buttons {
	text-align: center;
	margin-bottom: 30px;
}

.service-button-dj, .service-button-it {
	background-color: #f44336;
	border: none;
	color: #fff;
	padding: 14px 40px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
	font-weight: bold;
	font-size: 24px;
	margin-top: 16px;
}

.service-button-dj {
	margin-right: 16px;
}

.service-button-dj:hover, .service-button-it:hover {
  background-color: #fff; 
  border: none;
  color: #f44336;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
  font-weight: bold;
  font-size: 24px;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
}

@media screen and (max-width:820px) {
  .column {
    width: 100%;
  }

  .column img {
  	text-align: center;
  }
}
