* {
	text-align: center;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
}

.heading {
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	margin-bottom: 50px;
	font-size: 48px;
}

.name {
	color: #f44336;
}

.emoji {
	font-weight: normal;
}

.pf-img img {
	object-fit: cover;
	width: 230px;
	height: 230px;
	border-radius: 50%;
}

.clients-pics {
	margin-bottom: 400px;
}

.clients-img img {
	float: left;
	object-fit: cover;
	width: 30%;
	height: 100px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.bio {
	width: 35%;
	margin-top: 30px;
	margin: auto;
}

.dj-bio {
	width: 35%;
	margin: auto;
	text-align: center;
}

.bio-text {
	display: inline-block;
	text-align: left;
}

.service {
	font-weight: bold;
}

.latest-mixtape, .clients {
	font-weight: bold;
	font-size: 24px;
	margin-top: 50px;
}

.service-button-dj, .service-button-pt {
	background-color: #f44336;
	border: none;
	color: #fff;
	padding: 14px 40px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
	font-weight: bold;
	font-size: 24px;
	margin-top: 16px;
}

.service-button-dj {
	margin-right: 16px;
}

.service-button-dj:hover, .service-button-pt:hover {
  background-color: #fff; 
  border: none;
  color: #f44336;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
  font-weight: bold;
  font-size: 24px;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
}

